name: bratacha
description: A fun flag quiz game as Gaeilge (and other languages)!
publish_to: 'none'
version: 0.0.1+8

environment:
  sdk: ^3.10.0
  flutter: ^3.38.0

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons:
  intl:
  path_provider:
  url_launcher:
  flutter_bloc:
  hive:
  flutter_svg:
  auto_size_text:
  material_design_icons_flutter:
  package_info_plus:

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints:
  build_runner:
  arb_generator:
  flutter_launcher_icons:
  bloc_test:
  hive_generator:
  dart_code_coverage:
    git:
      url: https://github.com/defuncart/dart_code_coverage
      ref: main
  mocktail:
  app_store_screenshots:
    git:
      url: https://github.com/defuncart/app_store_screenshots
      ref: main

flutter:
  uses-material-design: true
  generate: true
  assets:
    - 'assets/flags/'
    - 'assets/languages/'

arb_generator:
  input_filepath: "assets_dev/loca/loca.csv"
  output_directory: "assets_dev/l10n"
  filename_prepend: "l10n_"
  csv_settings:
    delimiter: ";"
    base_index: 1

flutter_launcher_icons:
  image_path: "assets_dev/app_icons/app_icon.png"
  android: true
  adaptive_icon_background: "#00ADB5"
  adaptive_icon_foreground: "assets_dev/app_icons/app_icon_foreground.png"
  adaptive_icon_monochrome: "assets_dev/app_icons/app_icon_foreground.png"
  ios: true
  image_path_ios_dark_transparent: "assets_dev/app_icons/app_icon_foreground.png"
  image_path_ios_tinted_grayscale: "assets_dev/app_icons/app_icon_foreground.png"
  desaturate_tinted_to_grayscale_ios: true
  web:
    generate: true
